.container{
    padding:50px;
}
.container>h1{
    color: white;
    text-align: center;
}
.container>h1>span{
    color: rgb(178, 230, 239);
}
*{
    margin:0;
    padding:0;
    font-family: 'Major Mono Display', monospace;
    font-family: 'Montserrat', sans-serif;
    background-color: black;
}
.main_box{
    height:100vh;
    /* background-image: url(photo.jpg);
    background-size: cover; */
}
.main_box .btn_one i{
    color:#fff;
    font-size: 30px;
    position:absolute;
    left:30px;
    line-height: 60px;
    font-weight:600;
    cursor: pointer;
    transition: all 0.2s linear;
}
.sidebar_menu .btn_two i{
    color: grey;
    font-size: 25px;
    position:absolute;
    left:265px;
    top:15px;
    opacity: 0;
    cursor:pointer;
    transition: all 0.2s linear;
}
.sidebar_menu{
    height:100%;
    width:300px;
    background-color: rgba(255, 255, 255, 0.048);
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    position: fixed;
    left:-359px;
    transition:all 0.4s linear;
}

.sidebar_menu .logo{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
    height:80px;
    width:100%;
    line-height: 68px;
    position: absolute;
}
.sidebar_menu .logo a{
    color: antiquewhite;
    font-size: 20px;
    text-decoration: none;
    position: absolute;
    left:50px;
    top:12px;
    font-weight: 500;   
}
.sidebar_menu .menu{
    position: absolute;
    width:100%;
    top:80px;
}
.sidebar_menu .menu li{
    margin-top: 6px;
    padding:10px 20px;
}
.sidebar_menu .menu li i,a{
    color: white;
    font-size:19px;
    text-decoration: none;
    padding:5px;
}
.sidebar_menu .social_media{
    position: absolute;
    left:25%;
    bottom:50px;
}
.sidebar_menu .social_media i{
    color:#ffffff;
    opacity:0.5;
    padding:0px 5px;
}
#check{
    display:none;
}
.sidebar_menu .menu li:hover{
    box-shadow: 0 0 6px rgba(255, 255, 255, 0.5);
}
.btn_one i:hover{
    font-size: 40px;
}
.btn_two i:hover{
    font-size: 40px;
}
.sidebar_menu .social_media i:hover{
    opacity: 1;
    transform:scale(1.1);
}
#check:checked ~ .sidebar_menu{
    left:0;
}
#check:checked ~ .btn_one i{
    opacity: 0;
}
#check:checked ~ .sidebar_menu .btn_two i{
    opacity: 1;
}








.game_info{
    display:flex;
    flex-direction: column;
}
.youvscomp{
    padding:0 200px 0 200px;
    display:flex;
    justify-content: space-evenly;
}
h2{
    color: white;
}
.screens{
    padding:50px;
    display: flex;
    justify-content: space-evenly;
}
.myscreen{
    height:450px;
    width:450px;
    border-radius: 50%;
    border: solid white;
}
.compscreen{
    height:450px;
    width:450px;
    border-radius: 50%;
    border: solid white;
}